  
.button {
  height: 50px;
  border-radius: 8px;
  font-weight: 500;
  background: var(--color-purple);
  color: #FFF;
  padding: 0 32px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  border: 0;

  transition: background 0.3s;

  img {
    margin-right: 8px;
  }

  &.outlined {
    background: #FFF;
    border: 1px solid var(--color-purple);
    color: var(--color-purple);
  }

  &:not(:disabled):hover {
    background: var(--color-purple-hover);
    color: #FFF;
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed
  }
}